<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST Request Form</title>
  </head>
  <body>
    <h2>Enter Crop Data</h2>
    <form id="cropForm" aciton="{% url "index" %}" method="post">
      <label for="cropName">Crop Name:</label>
      <input type="text" id="cropName" name="cropname" /><br /><br />

      <label for="nitrogen">Nitrogen:</label>
      <input type="number" id="nitrogen" name="nitrogen" /><br /><br />

      <label for="phosphorous">Phosphorous:</label>
      <input type="number" id="phosphorous" name="phosphorous" /><br /><br />

      <label for="potassium">Potassium:</label>
      <input type="number" id="potassium" name="potassium" /><br /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
